networkx>=2.4
PyYAML>=5.1
numpy>=1.17
pandas>=0.25
xarray>=0.14
bottleneck>=1.3
scipy>=1.3
pyzmq>=18.1
coloredlogs>=10.0
tables>=3.6
Cython>=0.29.6
pylsl>=1.13.1
python-osc==1.7.0
python-dotenv==0.10
jsonschema>=3.0
pytest>=5.3
sphinx>=2.2
sphinx_rtd_theme>=0.4
graphviz=>0.13